@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo personalizado para el efecto Ripple */
.ripple {
    position: relative;
    overflow: hidden;
}

.ripple::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    animation: rippleEffect 0.8s;
}

@keyframes rippleEffect {
    0% {
        opacity: 1;
        width: 0;
        height: 0;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}